emoji==2.8.0
nltk==3.8.1
numpy==1.23.5  
pandas==1.5.3  
regex==2023.8.8
spacy==3.6.1
spacy_spanish_lemmatizer==0.7
thefuzz==0.20.0
tqdm==4.64.1  
Unidecode==1.3.6
# fastapi>=0.69.0,<0.89.0  # added to resolve lightning dependency
# starlette  # added to resolve lightning dependency
# uvicorn<2.0  # added to resolve lightning dependency
# Cython>=0.29.21  # added to resolve tables dependency, incompatible versions excluded
# blosc2~=2.0.0  # added to resolve tables dependency
# bokeh==3.*  # upgraded due to jupyter-bokeh
# scikit-learn<1.2,>=0.24  # downgraded due to pytorch-forecasting
# torch==1.13.0  # downgraded due to torchvision
# matplotlib<3.7,>=3.2  # downgraded due to ydata-profiling